<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Khepera IV trasy</title>
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a th:href="'/tracks'" class="navbar-brand d-flex align-items-center">
                <strong>Khepera IV trasy</strong>
            </a>
        </div>
    </div>
</header>

<main>

    <div class="container">
        <div class="bg-light p-5 rounded">
            <h1>Nazwa trasy: <span th:text="${track.name}"/></h1>
            <h3>Roboty przydzielone do trasy: <span th:text="${#lists.size(trackRobots)}"></span></h3>
            <table class="table table-bordered" th:if="${#lists.size(trackRobots) > 0}">
                <thead>
                <tr>
                    <th scope="col">Identyfikator robota</th>
                    <th scope="col">Naładowany</th>
                    <th scope="col">Czas ostatniej ramki</th>
                    <th scope="col">Trasa</th>
                    <th scope="col">W kolejce</th>
                    <th scope="col">Akcja</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="robotInfo: ${trackRobots}">
                    <th scope="row" th:text="${robotInfo.robotId}"></th>
                    <td th:text="${robotInfo.batteryPercentage} + '%'"></td>
                    <td th:text="${#temporals.format(robotInfo.lastHeartbeat, 'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td th:text="${robotInfo.track != null ? robotInfo.track.name : 'Brak'}"></td>
                    <td th:text="${robotInfo.track != null ? robotInfo.track.whichInOrder : 'Nie dotyczy'}"></td>
                    <td>
                        <form method="POST" action="#"
                              th:action="@{/tracks/} + ${trackId} + '/robots/' + ${robotInfo.robotId} + '/unassign'">
                            <input class="btn btn-warning" type="submit" value="Usuń robota z trasy"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <form method="POST" action="#" th:action="@{/tracks/} + ${trackId} + '/stop'" th:if="${track.started}">
                <input class="btn btn-warning" type="submit" value="Zakończ trasę"/>
            </form>
            <form method="POST" action="#" th:action="@{/tracks/} + ${trackId} + '/start'" th:if="${!track.started}">
                <input class="btn btn-success" type="submit" value="Rozpocznij trasę"/>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="bg-light p-5 rounded">
            <h3>Pozostałe roboty: <span th:text="${#lists.size(allRobots)}"></span></h3>
            <table class="table table-bordered" th:if="${#lists.size(allRobots) > 0}">
                <thead>
                <tr>
                    <th scope="col">Identyfikator robota</th>
                    <th scope="col">Naładowany</th>
                    <th scope="col">Czas ostatniej ramki</th>
                    <th scope="col">Trasa</th>
                    <th scope="col">W kolejce</th>
                    <th scope="col">Akcja</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="robotInfo: ${allRobots}">
                    <th scope="row" th:text="${robotInfo.robotId}"></th>
                    <td th:text="${robotInfo.batteryPercentage} + '%'"></td>
                    <td th:text="${#temporals.format(robotInfo.lastHeartbeat, 'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td th:text="${robotInfo.track != null ? robotInfo.track.name : 'Brak'}"></td>
                    <td th:text="${robotInfo.track != null ? robotInfo.track.whichInOrder : 'Nie dotyczy'}"></td>
                    <td>
                        <form method="POST" action="#"
                              th:action="@{/tracks/} + ${trackId} + '/robots/' + ${robotInfo.robotId} + '/assign'">
                            <input class="btn btn-success" type="submit" value="Przydziel do bieżącej trasy"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</main>

<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Do góry</a>
        </p>
        <p class="mb-1">Strona utworzona jako projekt inżynierski.</p>
        <p class="mb-0">Autor: Jakub Kondarewicz</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>
</html>