<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Khepera IV trasy</title>
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a th:href="'/tracks'" class="navbar-brand d-flex align-items-center">
                <strong>Khepera IV trasy</strong>
            </a>
        </div>
    </div>
</header>

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Trasy</h1>
                <p class="lead text-muted">Strona zawiera listę zdefiniowanych tras dla robota Khepera IV. Wybierając
                    jedną z nich możesz rozpocząć pracę robotów poprzez odpowiedni przycisk na stronie.</p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" th:each="track: ${tracks}">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                             th:src="'/tracks/' + ${track.trackId} + '/preview-image'"/>
                        <div class="card-body">
                            <p class="card-text" th:text="${track.name}"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary"
                                       th:href="'/tracks/' + ${track.trackId}">Przejdź do trasy</a>
                                </div>
                                <div style="text-align: right">
                                    <span class="h5"><span class="material-icons">settings_input_svideo</span><span
                                            th:text="${track.assignedRobotsQuantity}"></span></span>
                                    <span class="h5"><span class="material-icons">trip_origin</span><span
                                            th:text="${track.vertexesQuantity}"/></span>
                                    <span class="h5"><span class="material-icons">category</span><span
                                            th:text="${track.collectPointsQuantity}"/></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Do góry</a>
        </p>
        <p class="mb-1">Strona utworzona jako projekt inżynierski.</p>
        <p class="mb-0">Autor: Jakub Kondarewicz</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>